{% extends "base.html" %}
{% block body %}
  <!-- <nav class="nav d-flex justify-content-between"> -->
<!-- <div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex">
    <a class="p-2 text-muted" href="#">Home</a>
    <a class="p-2 text-muted" href="#">About</a>
  </nav>
</div> -->

<div class="nav-scroller py-1 mb-2">
  <div clas= "container"
  <nav class="nav d-flex">
    <a class="p-2 text-muted" href="#">Home</a>
    <a class="p-2 text-muted" href="#">About</a>
  </nav>
</div>
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Imagineer Blog</h1>
    <p clas="lead blog-description">...</p>
  </div>
  <div class="row">
    <!-- 화면의 8할  -->
    <div class="col-sm-8">
      <div class="blog-post">
        {% for article in article_list %}
        <h2 class="blog-post-title">
          <div>{{ article.title }}</div>
        </h2>
        <p2>
          <div>{{ article.context }}</div>
        </p2>
        {% endfor %}
      </div>
    </div>

    <!-- 화면의 4할  -->
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module">
        <h4>Categories</h4>
        <ol class="list-unstyle">
          <li><a href="/?category={{ alias }}">{{ category }}</a></li>
          {% for alias, category in category_list %}
          <li><a href="/?category={{ alias }}">{{ category }}</a></li>
          {% endfor %}
        </ol>
      </div>

      <div class="sidebar-module">
        <h4>Hashtages</h4>
        <ol class="list-unstyle">
          {% for hashtag in hashtag_list %}
          <!-- <li>#{{ hashtag}}</li> -->
          <li><a href="/?hashtag={{ hashtag.name }}">#{{ hasthtag }}</a></li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>

{% endblock %}
